body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

header {
  background-color: #000080;
  color: white;
  text-align: center;
  padding: 1rem;
}

nav {
  background-color: #005b9a;
  color: white;
  text-align: center;
  padding: 0.5rem;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 1rem;
  margin: 1rem;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
}

footer {
  background-color: #000080;
  color: white;
  text-align: center;
  padding: 1rem;
}

img {
  display: block;
  margin: 1rem auto;
  max-width: 100%;
  height: auto;
}

/* Servicios específicos */
section {
  margin: 2rem 1rem;
  padding: 1.5rem;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section h2 {
  text-align: center;
  color: #005b9a;
  margin-bottom: 1rem;
}

section p {
  text-align: center;
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}

.services h3 {
  color: #005b9a;
  margin-top: 1rem;
  text-align: center;
}

.services ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.services ul li {
  padding: 0.5rem;
  font-size: 1.1rem;
  color: #333;
}

.services ul li::before {
  content: "✓";
  color: #005b9a;
  margin-right: 10px;
}

.map {
  margin-top: 2rem;
  text-align: center;
}

.map h3 {
  color: #005b9a;
  margin-bottom: 1rem;
}

iframe {
  border-radius: 5px;
  border: 1px solid #ddd;
}


.toggle-button {
  background-color: #005b9a;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}
/* Carrusel de imágenes */
.image-slider {
  position: relative;
  width: 600px;
  margin: 0 auto;
}

.image-slider img {
  width: 100%;
  height: auto;
  display: block;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Cambio de color */
.service-item {
  transition: background-color 0.3s ease;
}

/*Centrado de video*/
.video {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0; 
}

.video h3 {
  margin-bottom: 10px; 
}
/*Centrado testimonios*/
#testimonios {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; 
}
